@page "/systemlog"
@using Microsoft.Extensions.Logging
@using modal

<div>
        <MudTable ServerData="@(new Func<TableState, Task<TableData<OperationLog>>>(ServerReload))"
                  Dense="true" Hover="true" Bordered="true" Striped="true" Context="log" @ref="table">
            <ToolBarContent>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))"
                              FullWidth=false Placeholder="Search for Event Id,Event Name,Message,User,Ip,Exception"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="Id" T="OperationLog">Id</MudTableSortLabel></MudTh>
                <MudTh>User</MudTh>
                <MudTh>Event Id</MudTh>
                <MudTh>Event Name</MudTh>
                <MudTh><MudTableSortLabel SortLabel="Timestamp" T="OperationLog">Timestamp</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Message" T="OperationLog">Message</MudTableSortLabel></MudTh>
                <MudTh>Ip</MudTh>
                <MudTh><MudTableSortLabel SortLabel="Level" T="OperationLog">Level</MudTableSortLabel></MudTh>
                <MudTh>Exception</MudTh>
                <MudTh>Properties</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@log.Id</MudTd>
                <MudTd DataLabel="User">@log.User</MudTd>
                <MudTd DataLabel="Event Id">@log.EventId</MudTd>
                <MudTd DataLabel="Event Name">@log.EventName</MudTd>
                <MudTd DataLabel="Timestamp">@ToLocalDateTime(log.Timestamp)</MudTd>
                <MudTd DataLabel="Message">@log.Message</MudTd>
                <MudTd DataLabel="Ip">@log.Ip</MudTd>
                <MudTd DataLabel="Level">@((LogLevel)Enum.Parse(typeof(LogLevel),@log.Level))</MudTd>
                <MudTd DataLabel="Exception">@log.Exception</MudTd>
                <MudTd DataLabel="Properties"></MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>

